<!-- Add backlinks to the current page -->
{% assign link_count = 0 %}
{% assign wiki_link_title = '[' | append: page.title | append: ']' %}

<!-- Count backlinks from notes -->
{% for note in site.notes %}
  {% if note.url != page.url %}
    {% if note.content contains wiki_link_title %}
      {% assign link_count = link_count | plus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

<!-- Count backlinks from posts -->
{% for note in site.posts %}
  {% if note.url != page.url %}
    {% if note.content contains wiki_link_title %}
      {% assign link_count = link_count | plus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

<!-- Count backlinks from pages -->
{% for note in site.pages %}
  {% if note.url != page.url %}
    {% if note.content contains wiki_link_title %}
      {% assign link_count = link_count | plus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if link_count > 0 %}
  {% assign display_class = 'hide' %}
  {% if site.preferences.backlinks.enabled %}
    {% assign display_class = 'show' %}
  {% endif %}
  <div class="related {{ display_class }}" id="jekyll-seamless-backlinks">
    <h5 class="meta-title centre-title">Links to this note</h5>
    <div class="related-wrapper">
      {% for note in site.notes %}
        {% if note.url != page.url %}
          {% if note.content contains wiki_link_title %}
            <div class="related-group">
              <a href="{{ site.baseurl }}{{ note.url }}">
                <h6>{{ note.title }}</h6>
                <p class="excerpt" style="margin: 0px; color: var(--color-text-main) !important;">
                  {{ note.content | strip_html | strip | remove: '[[' | remove: ']]' | remove: '-' | escape | truncate: 100 }}
                </p>
              </a>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <br>
  </div>
{% endif %}

<!-- Add backlinks for tags -->
{%- if page.tags -%}
  <section class="backlinks">
    <h2>Related Posts by Tags</h2>
    <ul>
      {%- for tag in page.tags -%}
        {%- assign related_posts = site.posts | where: 'tags', tag -%}
        {%- for related_post in related_posts -%}
          {%- unless related_post.id == page.id -%}
            <li>
              <a href="{{ related_post.url }}">{{ related_post.title }}</a>
            </li>
          {%- endunless -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>
  </section>
{%- endif -%}

<!-- Add backlinks for categories -->
{%- if page.categories -%}
  <section class="category-posts">
    <h2>Posts in Categories</h2>
    <ul>
      {%- for category in page.categories -%}
        {%- assign category_posts = site.posts | where: 'categories', category -%}
        {%- for category_post in category_posts -%}
          {%- unless category_post.id == page.id -%}
            <li>
              <a href="{{ category_post.url }}">{{ category_post.title }}</a>
            </li>
          {%- endunless -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>
  </section>
{%- endif -%}
