<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}">
    <img
      class="repo-img-light w-100"
      alt="{{ include.repository }}"
      src="https://gh-card.dev/repos/{{ include.repository }}.svg?theme={{ site.repo_theme_light }}&{{ site.time | date: '%s' }}"
    >
    <img
      class="repo-img-dark w-100"
      alt="{{ include.repository }}"
      src="https://gh-card.dev/repos/{{ include.repository }}.svg?theme={{ site.repo_theme_dark }}&{{ site.time | date: '%s' }}"
    >
  </a>
</div>
